<nav class="navbar fixed-top navbar-expand-lg navbar-light navbar_extend p-0">
  <button class="navbar-toggler navbar_extend__toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar_extend__nav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link px-3 pl-sm-4 pr-sm-2 text-dark" href="#"><i class="fas fa-home"></i></a></li>
      <li class="nav-item"><a class="nav-link px-3 px-sm-2 text-dark" href="#">DevRel/Japanとは</a></li>
      <li class="nav-item"><a class="nav-link px-3 px-sm-2 text-dark" href="#">スピーカー</a></li>
      <li class="nav-item"><a class="nav-link px-3 px-sm-2 text-dark" href="#">スケジュール</a></li>
      <li class="nav-item"><a class="nav-link px-3 px-sm-2 text-dark" href="#">スポンサー</a></li>
      <li class="nav-item"><a class="nav-link px-3 px-sm-2 text-dark" href="#">アクセス</a></li>
      <li class="nav-item"><a class="nav-link px-3 px-sm-2 text-dark" href="#">ブログ</a></li>
    </ul>
    <a href="#" class="btn navbar_extend__ticket text-white bg-primary d-block p-2 px-sm-3 d-flex align-items-center"><i class="fas fa-ticket-alt"></i> チケット購入</a>
  </div>
</nav>